In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame({"A": [1, 2], "B": [3, 4]}, index=["row1", "row2"])

df.head()

      A  B
row1  1  3
row2  2  4

In [9]:
print(df.loc["row1"])  # Label-based

A    1
B    3
Name: row1, dtype: int64

In [8]:
print(df.iloc[0])  # Index-base

A    1
B    3
Name: row1, dtype: int64